<div class="d-flex justify-content-end p2-3 gap-1 my-3">
  <button class="btn btn-light text-dark" (click)="grid()">
    <ng-icon name="bootstrapGrid"></ng-icon>
  </button>
  <div class="btn btn-light text-dark" (click)="list()">
    <ng-icon name="bootstrapList"></ng-icon>
  </div>
</div>
<div class="row row-cols-5 gx-2" *ngIf="isGrid">
  <div class="col" *ngFor="let e of employees">
    <app-card [employee]="e"></app-card>
  </div>
</div>
<div class="row gap-1 flex-column" *ngIf="!isGrid">
  <div class="col-12" *ngFor="let e of employees">
    <app-card-hor [employee]="e"></app-card-hor>
  </div>
</div>
<div class="row d-flex align-items-center justify-content-center p-3">
  <div class="btn-group border-0">
    <button
      class="btn btn-outline-primary btn-sm border-0"
      *ngFor="let n of iterations; let i = index"
      (click)="changePage(i)"
    >
      {{ i + 1 }}
    </button>
  </div>
</div>
